.footer {
  // border-top: 1px solid var(--color-yellow);
  background: var(--color-yellow);
  color: var(--color-cream);
  font-size: 1.4rem;
  color: var(--color-blue);
  font-family: var(--font-anton), Impact, sans-serif;
}

.inner {
  display: flex;
  width: min(var(--content-width), calc(100% - (var(--page-gutter) * 2)));
  min-height: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-inline: auto;
}

.inner a {
  color: var(--color-yellow);
}
